ul {
  list-style: none;
  display: flex;
}
.banner-container {
  font-family: "Brandon Text";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1440px;
  height: 524px;
  background: #12284c;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.texture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  width: 296px;
  height: 82px;
  left: 111px;
  top: 434px;
  opacity: 0.2;
}

.rectangle {
  position: absolute;
  width: 1032px;
  height: 4px;
  left: 333px;
  top: 463px;
}

.info {
  z-index: 1;
}

#blueText {
  margin-left: 75px;
  margin-top: 16px;
  width: 624px;
  height: 40px;
  font-family: "Brandon Text";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #00adbb;

}

.info img {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 291px;
  height: 42px;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin-left: 75px;
}

.info h2 {
  margin-left: 75px;
  margin-top: 100px;
  font-weight: 400;
  width: 624px;
  height: 56px;
  font-family: "Brandon Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  display: flex;
  align-items: flex-start;
  color: #ffffff;
}

.bullets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 16px;
  height: 48px;
  margin-left: 1274px;
  margin-top: 300px;
}

.bannerImg {
  position: absolute;
  width: 1032px;
  height: 500px;
  left: 333px;
  top: -23px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/bannerImg.svg");
  border-radius: 12px 0px 0px 4px;
}

@media (max-width: 600px) {
  ul {
    list-style: none;
    display: flex;
  }

  .banner-container {
    font-family: "Brandon Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0px 0px 20px; /* Ajuste o valor de padding para dispositivos menores */
    width: 100%;
    height: auto; /* Ajuste a altura para se adaptar ao conteúdo */
    background: #12284c;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .texture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    width: 296px;
    height: 82px;
    left: 20px; /* Ajuste a posição para dispositivos menores */
    top: 434px;
    opacity: 0.2;
  }

  .rectangle {
    position: absolute;
    width: 100%;
    max-width: 1032px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    top: 463px;
  }

  .info {
    z-index: 1;
  }

  #blueText {
    margin-top: 16px;
    width: 100%;
    max-width: 90%; /* Ajuste a largura para dispositivos menores */
    height: 40px;
    font-family: "Brandon Text";
    font-style: normal;
    font-weight: 700;
    font-size: 24px; /* Ajuste o tamanho da fonte para dispositivos menores */
    line-height: 30px; /* Ajuste a altura da linha para dispositivos menores */
    display: flex;
    align-items: center;
    color: #00adbb;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .info img {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 20px; /* Ajuste o espaçamento para dispositivos menores */
    width: 100%;
    max-width: 80%; /* Ajuste a largura para dispositivos menores */
    height: 42px;
    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .info h2 {
    margin-top: 40px; /* Ajuste a margem superior para dispositivos menores */
    font-weight: 400;
    width: 100%;
    max-width: 90%; /* Ajuste a largura para dispositivos menores */
    height: auto; /* Ajuste a altura para se adaptar ao conteúdo */
    font-family: "Brandon Text", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px; /* Ajuste o tamanho da fonte para dispositivos menores */
    line-height: 30px; /* Ajuste a altura da linha para dispositivos menores */
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .bullets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 16px;
    height: 48px;
    right: 24px;
    top: calc(50% - 24px);
  }

  .bannerImg {
    position: absolute;
    width: 100%;
    max-width: 100%; /* Ajuste a largura para dispositivos menores */
    height: auto;
    left: 0;
    top: -23px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("./assets/bannerImg.svg");
    border-radius: 12px 0px 0px 4px;
  }
}
