
#weAre{
    position: absolute;
    width: 1254px;
    height: 300px;
    left: 186px;
    top: 0px;
}

h2{
    margin-left: 297px;
    margin-top: 296px;
    width: 846px;
    height: 56px;
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: 330;
    font-size: 40px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #12284C;
}

#bg{
    position: absolute;
    width: 1441px;
    height: 235px;
    left: 0px;
    top: 0px;
    background: #12284C;
}

#texture1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 296px;
    height: 46px;
    left: 0px;
    top: 204px;
    opacity: 0.3;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1440px;
    height: 365px;
}

.infoShare{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1440px;
    height: 137px;
}