.cards{
    margin-top: 225px;
    display: flex;
    width: 1940px;
    flex-direction: row;
    align-items: flex-end;
    flex: none;
    align-self: stretch;
}

.texture{
    color: #c9c9c9;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 955px;
    width: 1440px;
    height: 82px;
}

@media (max-width: 600px) {
    .cards {
      margin-top: 50px;
    }
  
    .texture {
      margin-top: 10px;
    }
  }