.institutional-container {
  display: flex;
  justify-content: center;
}

.institutional-list {
  list-style: none;
  display: flex;

}

.institutional-card {
  width: 360px;
  height: 450px;
}

.institutional-card img {
  width: 100%;
  margin-top: 225px;
  height: 100%;
  object-fit: cover;
}
