*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #12284C;
    width: 1440px;
    height: 95px;
}
.container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;

    width: 1290px;
    height: 47px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.container-content{
    text-align: center;
    transform: translate(0, 50%);
}

.stats {
    display: flex;
    gap: 1.5rem;
    color: #fff;
}
.stats span{
    color: #009ABF;
}

.stats img{
    width: 24px;
    height: 24px;
    align-items: center;
}


.logo{
    width: 170px;
    height: 47px;
    text-align: center;
    display: flex;
}