*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #12284C;
    width: 1440px;
    height: 95px;
}

.logo{
    margin-left: 75px;
    width: 170px;
    height: 47px;
    text-align: center;
    display: flex;
}

.container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1290px;
    height: 47px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.container-content{
    text-align: center;
    transform: translate(0, 50%);
}

.stats {
    display: flex;
    gap: 1.5rem;
    color: #fff;
    height: 24px;
    font-family: 'Brandon Text';
    font-size: 16px;
    line-height: 24px;
}
.stats span{
    color: #009ABF;
    height: 24px;
    font-family: 'Brandon Text';
    font-size: 16px;
    line-height: 24px;

}

.stats img{
    width: 24px;
    height: 24px;
}

.content-accessibility h5{
    color: #fff;
    display: inline;
    width: 102px;
    height: 24px;
    font-family: 'Brandon Text', sans-serif;
    font-style: normal;
    font-weight: 390;
    font-size: 16px;
    line-height: 24px;
}

#img1, #img2, #img3{
    transform: translate(0, 30%);
    width: 20px;
    height: 20px;
  }
  