.tableContainer {
    width: 846px;
    height: 245px;
    overflow: auto;
    margin-top: 16px;
    margin-left: 297px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid grey  ;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .description1,
  .description2,
  .description3,
  .description4,
  .description5 {
    width: 350px;
    text-align: left;
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: 390;
    font-size: 16px;
    line-height: 24px;    
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title1,
  .title2,
  .title3,
  .title4,
  .title5 {
    background-color: #12284C;
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #fff;
  }
  
  .contentR1-2,
  .contentR1-4,
  .contentR2-2,
  .contentR2-4,
  .contentR3-3,
  .contentR3-4,
  .contentR4-3,
  .contentR4-4 {
    background-color: #fff;
  }
  
  .contentR1-3,
  .contentR1-5,
  .contentR2-3,
  .contentR2-5,
  .contentR3-2,
  .contentR3-5,
  .contentR4-2,
  .contentR4-5 {
    background-color: #fff;
  }
  

  .tableContainer table .contentR1-2,
.tableContainer table .contentR1-3,
.tableContainer table .contentR1-4,
.tableContainer table .contentR1-5,
.tableContainer table .contentR2-2,
.tableContainer table .contentR2-3,
.tableContainer table .contentR2-4,
.tableContainer table .contentR2-5,
.tableContainer table .contentR3-2,
.tableContainer table .contentR3-3,
.tableContainer table .contentR3-4,
.tableContainer table .contentR3-5,
.tableContainer table .contentR4-2,
.tableContainer table .contentR4-3,
.tableContainer table .contentR4-4,
.tableContainer table .contentR4-5,
.tableContainer table .contentR5-2,
.tableContainer table .contentR5-3,
.tableContainer table .contentR5-4,
.tableContainer table .contentR5-5 {
  width: 150px;
}
