.footer-container{
    background-color: #0c1b33;
    width: 1440px;
    height: 56px;
    margin-top: 1984px;
    display: flex;
}

.container-content{
    align-items: center;
    display: flex;
    width: 1290px;
    height: 24px;
    top: 16px;
    left: 75px;
    bottom: 16px;
    justify-content: space-between;
}

.copyright{
    width: 157px;
    height: 24px;
    font-family: 'Brandon Text';
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #00ADBB;
    flex: none;
    order: 0;
    flex-grow: 0;
}