.footer-container {
    background-color: #0C1B33;
    font-family: "Brandon Text";
    font-weight: 390;
    height: 80px;
    margin-top: 1984px;
  }
  
  .container-content {
    color: #fff;
    width: 1290px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .container-content h4{
    margin-left: 75px;
    color: #00ADBB;
  }
  
  .linkedinLogo img {
    width: 24px;
    height: 24px;
  }
  